.contact__wrapper {
  display: flex;
  background-color: #191c26;
}

.contact-form__section,
.contact__information {
  width: 50%;
  padding-top: 130px;
  padding-bottom: 130px;
}

@import './contact-form';
@import './contact-info';
