.contact__information {
  padding-left: 115px;
  background-image: url('../images/contact/bg.png');
  background-repeat: no-repeat;
  background-size: cover;

  .address {
    margin-bottom: 70px;
  }
}

.contact {
  &__list-element {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__list-element-svg {
    width: 24px;
    height: 24px;
    margin-right: 16px;

    .contact__list-element:first-child & {
      align-self: flex-start;
      margin-top: 6px;
    }
  }

  &__list-link {
    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }

  &__list-link,
  &__date {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.667;
    letter-spacing: 0.02em;
    color: #9da4bd;
    transition: opacity 500ms linear;
  }
}
